extends layout 

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1 
                span Lista de Contratos
        
        .w3-container
            if slist && slist.length > 0
                table.w3-table-all
                    tr
                        th ID do Contrato
                        th Tipo de Procedimento
                        th Entidade Comunicante
                        th Data de Publicação
                        th Ações
                    each contrato in slist
                        tr
                            td 
                                a(href="/front/contrato/" + contrato._id) #{contrato._id}
                            td 
                                a(href="/front/tipo/" + encodeURIComponent(contrato.tipoprocedimento)) #{contrato.tipoprocedimento}
                            td 
                                a(href="/front/entidade/" + encodeURIComponent(contrato.entidade_comunicante)) #{contrato.entidade_comunicante}
                            td= contrato.dataPublicacao
                            td
                                span [
                                a.w3-btn.w3-blue.w3-round(href="/front/edit/" + contrato._id) Edit
                                span ]
                                span [ 
                                a.w3-btn.w3-red.w3-round(href="/front/delete/" + contrato._id) Delete
                                span ]
            else
                p Nenhum contrato encontrado.