doctype html
html
  head
    title Contratos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.png')
  body
    block content
    footer.w3-container.w3-teal 
    adress 
      span Gerado em Web em #{data}
      a(href='/front') Voltar
